In [1]:
--A LEIRAS oszlop értékei:
select  
        count(CASE WHEN LEIRAS IS NOT NULL THEN 1 END) AS 'Üres cellák a leírás oszlopban',
        count(CASE WHEN LEIRAS IS NULL THEN 1 END) AS 'Kitöltött cellák a leírás oszlopban',
        count(CASE WHEN LEIRAS IS NULL THEN 1 END) * 100 / count(*) as 'Üres cellák aránya a kitöltöttekhez (%)'

FROM Termek

Üres cellák a leírás oszlopban,Kitöltött cellák a leírás oszlopban,Üres cellák aránya a kitöltöttekhez (%)
24,527,95

In [2]:
--Emberenként a leírás null/nem null adatok felvitelének vizsgálata
SELECT 
    FELVITTE as 'Adatrögzítő neve',
    count(CASE WHEN LEIRAS is null THEN 1 END) AS 'Üres cellák a leírás oszlopban',
    count(CASE WHEN LEIRAS is not null THEN 1 END) AS 'Kitöltött cellák a leírás oszlopban',
    count(CASE WHEN LEIRAS is  null THEN 1 END) * 100 / COUNT(*) AS 'Üres cellák aránya a kitöltöttekhez (%)'
FROM Termek
GROUP BY FELVITTE
ORDER BY FELVITTE

Adatrögzítő neve,Üres cellák a leírás oszlopban,Kitöltött cellák a leírás oszlopban,Üres cellák aránya a kitöltöttekhez (%)
Béla,185,4,97
Mari,166,8,95
Sára,176,12,93

In [1]:
--LISTAÁR MIN/MAX/ÁTLAG
SELECT  MIN(listaar) as 'Listaárak minimuma',
        MAX(listaar) as 'Listaárak maximuma',
        round(AVG(LISTAAR),2) as 'Listaárak átlaga'
FROM Termek

Listaárak minimuma,Listaárak maximuma,Listaárak átlaga
0,46000,"786,28"

In [4]:
--10 legdrágább kategória
SELECT TOP 10
    KAT_ID AS Kategória, 
    Max(LISTAAR) 'A kategória maximum listaára'
from Termek
WHERE KAT_ID IS NOT null
GROUP BY KAT_ID
ORDER BY Max(LISTAAR) desc

Kategória,A kategória maximum listaára
88,46000
8,32000
107,24000
38,22000
147,14250
39,11900
55,8900
108,8290
54,8000
37,6490

In [5]:
--10 leggyakorib kategória
SELECT top 10
    KAT_ID AS Kategória, 
    COUNT(*) 'Előfordulásának száma'
from Termek
WHERE KAT_ID IS NOT null
GROUP BY KAT_ID
ORDER BY COUNT(*) desc

Kategória,Előfordulásának száma
52,26
78,24
6,20
19,19
145,18
85,16
4,15
41,13
45,11
97,10

In [6]:
--Évszakonként ki mennyi adatot vitt fel
SELECT 
    FELVITTE as 'Adatrögzítő személy',
    count(CASE WHEN MONTH(FELVITEL) IN (3,4,5) THEN 1 END) AS 'Tavaszi rögzítések száma',
    count(CASE WHEN MONTH(FELVITEL) IN (6,7,8) THEN 1 END) AS 'Nyári rögzítések száma',
    count(CASE WHEN MONTH(FELVITEL) IN (9,10,11) THEN 1 END) AS 'Őszi rögzítések száma',
    count(CASE WHEN MONTH(FELVITEL) IN (12,1,2) THEN 1 END) AS 'Téli rögzítések száma'
FROM Termek
GROUP BY FELVITTE
ORDER BY FELVITTE

Adatrögzítő személy,Tavaszi rögzítések száma,Nyári rögzítések száma,Őszi rögzítések száma,Téli rögzítések száma
Béla,0,189,0,0
Mari,0,174,0,0
Sára,0,186,1,1

In [8]:
select MONTH(FELVITEL) as Hónap,
        count(*) as 'Felvitt adatok száma',
        count(case when leiras is null then 1 end) as 'Üresen felvitt leírások száma'
from Termek
GROUP BY MONTH(FELVITEL)

Hónap,Felvitt adatok száma,Üresen felvitt leírások száma
7,355,343
8,194,182
9,1,1
12,1,1